
.btn-primary{
    color: #fff;
    background-color: $color-intitucional-obscuro;
    border-color: $color-intitucional-obscuro;
}
.btn-primary:hover {
    color: #fff;
    background-color: $color-intitucional-claro;
    border-color: $color-intitucional-claro;
}
.btn-info{
    color: #fff;
    background-color:  $color-intitucional-obscuro;
    border-color:  $color-intitucional-obscuro;
}
.btn-info:hover{
    color: #fff;
    background-color: $color-intitucional-claro;
    border-color: $color-intitucional-claro;
}
.btn-focus{
    color: #fff;
    background-color: $color-intitucional-obscuro;
    border-color: $color-intitucional-obscuro;
}
.btn-focus:hover {
    color: #fff;
    background-color: $color-intitucional-claro;
    border-color: $color-intitucional-claro;
}
.swal2-cancel{
    background: red!important;
}