.headerSection{
    .buttonReturn{
        font-size: 2em;
        display: inline-block;
        vertical-align: top;
        color:#13322B;
        svg {
            position: relative;
            top:-8px
        }
    }
    h2{
        display: inline-block;
        vertical-align: top;
    }
}