
.kt-header {
    background-color: $color-intitucional-obscuro;
}
.kt-aside-menu {
    background-color: $color-intitucional-obscuro;
}
.kt-aside__brand {
    background-color: $color-intitucional-obscuro;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: $color-letra-menu;
}
.navbar {
    background-color: $color-intitucional-obscuro;
}